<div class="container">
	<div class="row">
		<div class="span12">
			<p><%= image_tag("header_image_9.jpg") %></p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>How You Can Help</h3>
	</div>
</div>

<div class="row">
	<div class="span6">
		<p>Donate</p>
		<p>Signs of Hope in Africa and the families of Jambiani in which we are supporting, are extremely grateful for your donation. Donations can be made online securely through canadahelps.org<p>

		<p>Please contact us if you would like to donate via cheque or money order.</p>
	</div>
	<div class="span6">
		<p>Gift of Giving</p>
		<p>Do you want to give a meaningful gift but are on a limited budget? Are you struggling to find a unique gift for someone who “has everything”? Increasingly, many people are choosing to donate to a charity in the name of the gift recipient – truly giving two gifts in one!<p>

		<p>Details on this innovative idea found under Programs.</p>
	</div>
</div>

<div class="row">
	<div class="span5">
		<p>Donate</p>
		ATTEND / VOLUNTEER / SPONSOR

Easter Egg Hunt - Easter Sunday from 10 am to 1 pm

Amazing Race for Africa - First Sunday in November 11:30 am to 4:30 pm

For event details, please see our Events page. To volunteer your services, provide sponsorship, or donate prizes, please email us at info@signsofhopeinafrica.org.
	</div>
	<div class="span1">
	</div>
	<div class="span6">
		<p>Gift of Giving</p>
		<p>Do you want to give a meaningful gift but are on a limited budget? Are you struggling to find a unique gift for someone who “has everything”? Increasingly, many people are choosing to donate to a charity in the name of the gift recipient – truly giving two gifts in one!<p>

		<p>Details on this innovative idea found under Programs.</p>
	</div>
</div>
